In [5]:
import pandas as pd
import datetime

In [6]:
import pandas_datareader.data as web
import yfinance as yf
yf.pdr_override()

start=datetime.datetime.now()-datetime.timedelta(days=360)
end=datetime.datetime.now()
df=web.get_data_yahoo('AAPL',start,end)

Exception in thread Thread-4:
Traceback (most recent call last):
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\threading.py", line 926, in _bootstrap_inner
    self.run()
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\site-packages\multitasking\__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\site-packages\yfinance\multi.py", line 168, in _download_one_threaded
    actions, period, interval, prepost, proxy, rounding)
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\site-packages\yfinance\multi.py", line 183, in _download_one
    rounding=rounding, many=True)
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\site-packages\yfinance\base.py", line 157, in history
    data = data.json()
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\site-packages\requests\models.py", line 900, in json
    return complexjson.loads(self.text, **kwargs)
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\json\__init__.py", line 348, in loads
    return _default_decoder.decode(s)
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\json\decoder.py", line 337, in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
  File "C:\Users\Zhitao\.conda\envs\ds-web\lib\json\decoder.py", line 355, in raw_decode
    raise JSONDecodeError("Expecting value", s, err.value) from None
json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

KeyboardInterrupt:

In [4]:
# 导入tushare

import tushare as ts
# 初始化pro接口
pro = ts.pro_api('67c884f2cd438169ec28f145801a6b69a002d899d37da46ca5308031')

# 拉取数据
df = pro.us_daily(**{
    "ts_code": "TSLA",
    "trade_date": "",
    "start_date": "",
    "end_date": "",
    "offset": "",
    "limit": ""
}, fields=[
    "ts_code",
    "trade_date",
    "close",
    "open",
    "high",
    "low",
    "pre_close",
    "pct_change",
    "vol"
])
print(df)

     ts_code trade_date   close    open    high     low  pre_close  \
0       TSLA   20211005  780.59  784.80  797.31  774.20     781.53
1       TSLA   20211004  781.53  796.50  806.97  776.12     775.22
2       TSLA   20211001  775.22  778.40  780.78  763.59     775.48
3       TSLA   20210930  775.48  781.00  789.13  775.00     781.31
4       TSLA   20210929  781.31  779.80  793.50  770.68     777.56
...      ...        ...     ...     ...     ...     ...        ...
2830    TSLA   20100706   16.11   20.00   20.00   15.83      19.20
2831    TSLA   20100702   19.20   23.00   23.10   18.71      21.96
2832    TSLA   20100701   21.96   25.00   25.92   20.27      23.83
2833    TSLA   20100630   23.83   25.79   30.42   23.30      23.89
2834    TSLA   20100629   23.89   19.00   25.00   17.54        NaN

      pct_change       vol
0          -0.12  18329766
1           0.81  30335465
2          -0.03  16615786
3          -0.75  17795364
4           0.48  20646426
...          ...       ...
2830      -16.09   6879293
2831      -12.57   5141805
2832       -7.85   8229859
2833       -0.25  17194391
2834         NaN  18694961

[2835 rows x 9 columns]

In [5]:
df.to_csv('TSLA.csv')

In [2]:
df = pd.read_csv('NASDAQ_20101105.csv',columns=['name','data',''])

In [3]:
df

      AACC  20101105    6.05    6.07    6.03  6.05.1     65800
0     AAME  20101105    1.70    1.82    1.70    1.82      4300
1     AAON  20101105   24.98   25.07   24.90   24.94     28200
2     AAPL  20101105  317.99  319.57  316.75  317.13  12901800
3     AATI  20101105    3.82    3.82    3.74    3.79    194600
4     AAWW  20101105   60.89   61.44   60.50   61.19    272800
...    ...       ...     ...     ...     ...     ...       ...
2764  ZOOG  20101105    5.75    5.75    5.70    5.70      1300
2765  ZOOM  20101105    4.31    4.48    4.31    4.48     48300
2766  ZRAN  20101105    7.20    7.27    7.16    7.20    243500
2767  ZSTN  20101105    7.39    7.79    7.39    7.77    312900
2768  ZUMZ  20101105   28.89   28.99   27.95   28.07    297400

[2769 rows x 7 columns]

In [ ]:
df.